
.desaparecer {
  width: 0%;
  height: 0%;
  opacity: 0;
}
input[type=file]{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  content: 'Seleccionar'; /* testo por defecto */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  }
.espacio{
  padding-top: 1rem !important;
 
}
.col-3{
  margin-top: 0px;
}